{{extend '../layout/layout.html'}}

{{block 'main'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>修改密码</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
    <strong>错误！</strong>发生XXX错误
  </div> -->
  <form class="form-horizontal">
    <div class="form-group">
      <label for="old" class="col-sm-3 control-label">旧密码</label>
      <div class="col-sm-7">
        <input id="old" class="form-control" type="password" name="oldpwd" placeholder="旧密码">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">新密码</label>
      <div class="col-sm-7">
        <input id="password" class="form-control" name="newpwd" type="password" placeholder="新密码">
      </div>
    </div>
    <div class="form-group">
      <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
      <div class="col-sm-7">
        <input id="confirm" class="form-control" name="newpwd2" type="password" placeholder="确认新密码">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <button type="submit" class="btn btn-primary">修改密码</button>
      </div>
    </div>
  </form>
</div>
{{/block}}

{{block 'js'}}
<script src="/assets/vendors/validate/jquery.validate.js"></script>
<script>
  
  $('.btn-primary').click(function(){
    $('.form-horizontal').validate({
      rules: { 
        oldpwd:{
          required: true,  //必填项
          rangelength: [3, 10], //长度必须在3-10之间
        },
        newpwd:{
          required: true,  //必填项
          rangelength: [3, 10], //长度必须在3-10之间
        },
        newpwd2:{
          equalTo:$('#password')
        }
      },
      messages: {
        oldpwd:{
          required: '不能为空',  //必填项
          rangelength: '长度必须在3-10之间', //长度必须在3-10之间
        },
        newpwd:{
          required: '不能为空',  //必填项
          rangelength: '长度必须在3-10之间', //长度必须在3-10之间
        },
        newpwd2:{
          equalTo:'两次密码不一致'
        }
      },
      submitHandler: function () {
        //发送ajax 返回后 跳转 到 /admin/index
        $.ajax({
          url:'/api/center/passwd',
          type:'post',
          data:$('form').serialize(),
          dataType:'json',
          success:function(msg){
            alert(msg.message)
            if(msg.code==200){
              location.href = '/admin/index';
            }
          }
        })
      }
    })
    
  })

</script>
{{/block}}